<li {{bind-attr class=":issue-list-item state client_name"}} {{bind-attr data-issue-id="id"}}>
	<h2 class="issue-list-item-title"><a {{bind-attr href="html_url"}}>{{title}}</a></h2>
	<span class="issue-list-item-number">#{{number}}</span>
	<!--<p>{{body}}</p>-->
	<a {{bind-attr href="repo_url"}}>{{repo_name}}</a><br/>
	
	{{#if closed}}
		<button {{action "archiveIssue"}} class="btn btn-default">Archive This Issue</button>
	{{/if}}
	{{#if badges}}
		<span class="issue-labels">
			{{#each badges}}
				<span class="badge" {{bind-attr style="css"}}>{{name}}</span>
			{{/each}}
		</span>
	{{/if}}
</li>