<li {{bind-attr class=":issue-list-item issue.state issue.client_name"}} {{bind-attr data-issue-id="issue.id"}}>
	<h2 class="issue-list-item-title"><a {{bind-attr href="issue.html_url"}}>{{issue.title}}</a></h2>
	<span class="issue-list-item-number">#{{issue.number}}</span>
	<!--<p>{{body}}</p>-->
	<a {{bind-attr href="issue.repo_url"}}>{{issue.repo_name}}</a><br/>
	
	{{#if issue.closed}}
		<button {{action "issue.archiveIssue"}} class="btn btn-default">Archive This Issue</button>
	{{/if}}
	{{#if issue.badges}}
		<span class="issue-labels">
			{{#each issue.badges}}
				<span class="badge" {{bind-attr style="css"}}>{{name}}</span>
			{{/each}}
		</span>
	{{/if}}
</li>