<li {{bind-attr class=":issue-list-item state client_name"}} data-issue-id="{{id}}">
	<h2 class="issue-list-item-title"><a {{bind-attr href="html_url"}}>{{title}} {{id}}</a></h2>
	<span class="issue-list-item-number">#{{number}}</span>
	<!--<p>{{body}}</p>-->
	<a {{bind-attr href="repo_url"}}>{{repo_name}}</a><br/>
	
	{{#if closed}}
		<button {{action "archiveIssue"}} class="btn btn-default">Archive This Issue</button>
	{{/if}}
</li>