<%= form_for(@client_repo) do |f| %>
  <% if @client_repo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_repo.errors.count, "error") %> prohibited this client_repo from being saved:</h2>

      <ul>
      <% @client_repo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :client_name, class: "control-label" %><br>
    <%= f.select :client_name, options_for_select(ClientRepo.all.map{|cr| [cr.client_name.titleize, cr.client_name.parameterize]}.uniq!.sort), prompt: "Select a Client", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :repo_name, class: "control-label" %><br>
    <%= f.select :repo_name, options_for_select(@github_repositories_select_options), prompt: "Select a repository", class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
