<h4>Show issues for:</h4>
<label for="filter-by-client-all">
	<input class="js-filter-by-client" type="radio" name="filter-by-client" id="filter-by-client-all" value="all" checked data-behavior="change" data-event="filter-by-client">
	All
</label>
<% client_names.each do |client_name| %>
	<label for="filter-by-client-<%= client_name %>">
		<input class="filter-by-client filter-by-client-<%= client_name %> js-filter-by-client" type="radio" name="filter-by-client" id="filter-by-client-<%= client_name %>" value="<%= client_name %>" data-behavior="change" data-event="filter-by-client">
		<%= client_name.titleize %>
	</label>
<% end %>