<li class="issue-list-item <%= issue.closed? ? 'closed' : 'open' %> <%= issue.client_name %>" data-issue-id="<%= issue.id %>">
	<h2 class="issue-list-item-title"><a href="<%= issue.html_url %>"><%= issue["title"] %></a></h2>
	<span class="issue-list-item-number">#<%= issue["number"] %></span>
	<p><%#= raw @markdown_renderer.render(issue["body"]) %></p>
	<a href="http://github.com/<%= issue.repo_name %>"><%= issue.repo_name %></a><br/>
	<% labels = JSON.parse(issue.labels) %>
	<% if labels.length > 0 %>
		<span class="issue-labels">
			<% labels.each do |label| %>
				<%# http://charliepark.tumblr.com/post/827693445/calculating-color-contrast-for-legible-text-in-ruby %>
				<% c = Color::RGB.from_html(label['color']) %>
				<% rgb_total = c.red + c.green + c.blue %>
				<% text_color = rgb_total < 382.5 ? 'white' : 'black' %>
				
				<span class="badge" style="background-color:#<%= label['color'] %>; color:<%= text_color %>;"><%= label["name"] %></span>
				<%#= label.color %>
			<% end %>
		</span>
	<% end %>
	<a class="js-archive-issue archive-issue-link" href="issues/<%= issue.id %>.json">Archive This Issue</a>
</li>