<li class="issue-list-item <%= issue.closed? ? 'closed' : 'open' %> <%= issue.client_name %>" data-issue-id="<%= issue.id %>">
	<h2 class="issue-list-item-title"><a href="<%= issue.html_url %>"><%= issue["title"] %></a></h2>
	<span class="issue-list-item-number">#<%= issue["number"] %></span>
	<p><%#= raw @markdown_renderer.render(issue["body"]) %></p>
	<a href="http://github.com/<%= issue.repo_name %>"><%= issue.repo_name %></a><br/>
	<a class="js-archive-issue archive-issue-link" href="issues/<%= issue.id %>.json">Archive This Issue</a>
</li>